@charset "UTF-8";
/*Coleurs de base du site*/
/*Charte d'écriture*/
/*Font type*/
/*Box Shadow */
/*Background-Color*/
/*Color linear */
/*Media queries*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; }

td {
  border: 1px solid black;
  padding: 10px; }

.topnav {
  overflow: hidden;
  background-color: #333; }

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; }

.topnav a:hover {
  background-color: #ddd;
  color: black; }

.topnav a.active {
  background-color: #04AA6D;
  color: white; }

.topnav .icon {
  display: none; }

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none; }

  .topnav a.icon {
    float: right;
    display: block; } }
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative; }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0; }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left; } }
.logo {
  width: auto;
  height: auto;
  display: flex;
  margin: auto;
  justify-content: center; }

[class*="col"] {
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center; }

.select {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 10px 10px 10px; }
  .select__nav:nth-child(1) {
    margin: 10px 10px 10px 10px;
    background-image: linear-gradient(to right, #f5edd6, #abc7fe, #719bff, #3d6cfa, #4560e6); }
    .select__nav:nth-child(1):hover {
      transform: scale(0.75); }
  .select__nav:nth-child(2) {
    margin: 10px 10px 10px 10px;
    background-image: linear-gradient(to right, #f5edd6, #abc7fe, #719bff, #3d6cfa, #4560e6); }
    .select__nav:nth-child(2):hover {
      transform: scale(0.75); }
  .select__nav:nth-child(3) {
    margin: 10px 10px 10px 10px;
    background-image: linear-gradient(to right, #f5edd6, #abc7fe, #719bff, #3d6cfa, #4560e6); }
    .select__nav:nth-child(3):hover {
      transform: scale(0.75); }

.articles {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .articles__image {
    width: 40%;
    height: auto;
    display: flex;
    margin: 20px 0px;
    border: 5px solid #75756f;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    -webkit-border-radius: 20px 0px 0px 20px;
    -moz-border-radius: 20px 0px 0px 20px;
    -ms-border-radius: 20px 0px 0px 20px;
    -o-border-radius: 20px 0px 0px 20px; }
    @media only screen and (max-width: 420px) {
      .articles__image {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: wrap;
        margin: 20px 20px 0px 20px;
        padding: 15px;
        height: 100%;
        border-radius: 20px 20px 0px 0px;
        -webkit-border-radius: 20px 20px 0px 0px;
        -moz-border-radius: 20px 20px 0px 0px;
        -ms-border-radius: 20px 20px 0px 0px;
        -o-border-radius: 20px 20px 0px 0px; } }
    @media only screen and (min-width: 765px) {
      .articles__image {
        width: 35%; } }
    @media only screen and (min-width: 1024px) {
      .articles__image {
        max-width: 40rem; } }
  .articles a {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    border: 5px solid #75756f;
    background-color: #e7e7d4;
    border-radius: 0px 20px 20px 0px; }
    @media only screen and (max-width: 420px) {
      .articles a {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: wrap;
        margin: 0px 20px 20px 20px;
        padding: 15px;
        height: 100%;
        border-radius: 0px 0px 20px 20px; } }
    @media only screen and (min-width: 765px) {
      .articles a {
        width: 35%; } }
    @media only screen and (min-width: 1024px) {
      .articles a {
        max-width: 800px; } }
    .articles a:hover {
      border: 5px solid green;
      transform: scale(0.9);
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -o-transform: scale(0.9); }

#outh3 {
  margin-left: 40px; }

.output {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #beb8b8;
  color: black;
  flex-wrap: nowrap; }
  .output__divQte {
    width: 100%;
    height: auto;
    min-width: 200px;
    max-width: 230px;
    margin-top: -10px;
    display: flex;
    align-self: center; }
    .output__divQte__qte {
      width: 100%;
      display: block;
      align-items: center; }
    .output__divQte__btn2 {
      width: 100%;
      height: 20%;
      min-width: 200px;
      max-width: 230px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #aab9eb;
      border: 2px solid #beb8b8;
      border-top: none;
      border-radius: 0px 0px 0px 0px; }
    .output__divQte__btn {
      width: 100%;
      height: 20%;
      min-width: 200px;
      max-width: 230px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #8ee78e;
      border: 2px solid #beb8b8;
      border-top: none;
      border-radius: 0px 0px 20px 20px; }
  .output p {
    width: 100%;
    height: auto;
    min-width: 200px;
    max-width: 230px;
    display: flex;
    background-color: #e6dede;
    margin-top: -0x;
    align-self: center; }
  .output__myObjectif {
    width: 80%;
    min-width: 200px;
    max-width: 230px;
    margin-top: -10px;
    align-self: center; }
  .output__image {
    width: 80%;
    min-width: 200px;
    max-width: 230px;
    align-self: center;
    border-radius: 25px 25px 0px 0px;
    -webkit-border-radius: 25px 25px 0px 0px;
    -moz-border-radius: 25px 25px 0px 0px;
    -ms-border-radius: 25px 25px 0px 0px;
    -o-border-radius: 25px 25px 0px 0px; }
  .output__article {
    width: 80%;
    min-width: 200px;
    background-color: #e6dede;
    color: black;
    max-width: 230px;
    align-self: center; }
  .output__select {
    width: 80%;
    min-width: 200px;
    max-width: 230px;
    display: block;
    align-items: center;
    cursor: pointer;
    align-self: center;
    text-align: center;
    background: white;
    color: black #fff;
    background-color: #8ee78e;
    flex-wrap: nowrap; }

.viewver {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px 5px 5px 5px;
  font-size: 13px; }
  .viewver__case {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    flex-direction: row;
    margin-bottom: 10px;
    border: 2px solid #4f61c9; }
    .viewver__case__caseTexteGauche {
      width: 30%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .viewver__case__caseTexteGauche__img {
        width: 100%;
        height: 75%;
        display: flex;
        justify-content: center;
        padding: 5px 5px; }
      .viewver__case__caseTexteGauche__ecrease {
        width: 100%;
        height: 25%;
        display: flex;
        align-items: center;
        background-color: #e2b0b0; }
    .viewver__case__caseTexteDroit {
      width: 70%;
      height: auto;
      display: flex;
      flex-direction: column; }
      .viewver__case__caseTexteDroit__sup {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around; }
        .viewver__case__caseTexteDroit__sup__nom {
          width: auto;
          height: auto;
          display: flex;
          justify-content: center;
          align-self: center;
          font-size: large;
          color: blue;
          padding: 5px 5px; }
        .viewver__case__caseTexteDroit__sup__lentille {
          width: auto;
          height: auto;
          display: flex;
          justify-content: center;
          align-self: center;
          padding: 5px 5px; }
      .viewver__case__caseTexteDroit__inf {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin: auto;
        align-items: center;
        background-color: #cfcfd3;
        border: 3px solid #e2e2da; }
        .viewver__case__caseTexteDroit__inf__price {
          width: auto;
          height: auto;
          display: flex; }
        .viewver__case__caseTexteDroit__inf__qte {
          width: auto;
          height: auto;
          display: flex; }
        .viewver__case__caseTexteDroit__inf__sTotal {
          width: auto;
          height: auto;
          display: flex; }
  .viewver__div {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end; }
    .viewver__div__total {
      width: 40%;
      height: auto;
      display: flex;
      justify-content: center;
      border: 3px solid #e2e2da;
      background-color: #cfcfd3;
      margin-bottom: 10px; }

/*# sourceMappingURL=style.css.map */
